* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#mainCard, #tablesCard, #waitCard {
    margin-left: 21%;
    margin-right: 21%;
}

#mainCard {
    background-color: #E9ECEF;
    text-align: center;
}

.btn {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#apiLinks {
    margin-left: 21%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
  }

#tableLink, #clearLink {
    border-right: 2px solid #674F38;
    padding-right: 0.3vw;
}

#homeBtn {
    color: black;
}